#clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    background-color: orange;
}
.bggreen {
    background-color: green;
}
.numeral {
    background: green;
    color: white;
    text-align: center;
    border-radius: 50%;
}
#second,
#minute,
#hour {
    position: absolute;
    transform-origin: bottom;
    background-color: black;
    border-radius: 6px;
    z-index: 11;
}
#time {
    display: flex;
    justify-content: center;
}