#gameField {
    border: solid 1px;
    background-color: yellow;
    position: relative;
}

#leftRacket {
    background-color: chartreuse;
    position: absolute;
}

#rightRacket {
    background-color: cornflowerblue;
    position: absolute
}

#ball {
    position: absolute;
    background-color: red;
    border-radius: 50%;
}
.score {
    position: absolute;
    left: 190px;
    font-size: 26px;
    top: 15px;
    font-weight: bold;
}